@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
    --font: 'DM Sans', sans-serif;
    --font-size: 1.125rem;
    --font-bold: 700;
    --font-light: 400;
    --title-clr: hsl(25, 47%, 15%);
    --text-clr:  hsl(28, 10%, 53%);
    --bg-clr: hsl(27, 66%, 92%);
    --accent-clr: hsl(10, 79%, 65%);
    --accent-clr-hover: hsla(10, 79%, 65%, 0.7);
    --graph-clr: hsl(33, 100%, 98%);
    --p-global: 0.5em 1em;
    --r-global: 8px;
    --chart-r: 3px;
    --m-bottom: 0.5em;
    --scale-chart: 1;
}

/* base style */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
    font-size: var(--font-size);
    font-family: var(--font);
    background-color: var(--bg-clr);
    height: 100vh;
    overflow: hidden;
}


/* utils */
.text--bold {
    font-weight: var(--font-bold);
}
.text--accent {
    color: var(--title-clr);
}



/* card style */
.card-chart {
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-content: center;
}

/* header style */
.card-chart__header {
    background-color: var(--accent-clr);
    color: var(--bg-clr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: .5em;
    margin-bottom: var(--m-bottom);
    padding: var(--p-global);
    border-radius: var(--r-global);
}
.card-chart__header > div > p {
    font-size: .8em;
}

.card-chart__header > div > h2 {
    font-size: 1.4rem;
    font-weight: var(--font-bold);
}

.card-chart__header > img {
    width: clamp(3.4rem, 5vw, 6rem);
}

.card-chart__graph {
    display: grid;
    row-gap: 1em;
    column-gap: .2em;
    place-content: center;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    background-color: var(--graph-clr);
    padding: var(--p-global);
    border-radius: var(--r-global);
}

.card-chart__graph> h2 {
    font-size: 1.4rem;
    color: var(--title-clr);
    grid-column: 1/8;
}


.card-chart__graph{
    overflow: hidden;
    color: var(--text-clr);
}
.card-chart__graph> div:not(:last-child) {
    text-align: center;
}
.card-chart__graph> div:not(:last-child) > .graph {
    z-index: 9;
    width: 30px;
    border-radius: var(--chart-r);
    margin: .4em auto;
    transform: scaleY(var(--scale-chart));
    background-color: var(--accent-clr);
}

.graph-container {
    position: relative;
    display: grid;
    grid-template-rows: repeat(3, auto);
}


.graph-container > span:nth-child(2) {
    grid-row: 1/3;
    font-size: .733rem !important;
    transform: translateY(30px);
    padding: .3em;
    border-radius: 3px;
    opacity: 0;
    transition: transform .2s ease-in, opacity .2s ease-in, background-color .2s ease-in;
    animation-fill-mode: both;
}

.graph-container:hover .graph  {
    cursor: pointer;
    background-color: var(--accent-clr-hover) !important;
    transition: background-color .1s ease-in;
    animation-fill-mode: both;
}

.graph-container:hover .graph--max {
    background-color: hsla(186, 34%, 60%, 0.7) !important;
    transition: background-color .1s ease-in;
    animation-fill-mode: both;
}
.graph-container:hover span:nth-child(2) {
    background-color: var(--title-clr);
    color: var(--graph-clr);
    transform: translateY(0);
    opacity: 1;
}


.card-chart__graph> div:not(:last-child) > .graph > div {
    position: absolute;
    background-color: red;
    top: 0;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.card-chart__graph> div:not(:last-child) > span  {
    font-size: .8rem;
}


.graph-container {
    display: grid;
    align-content: flex-end;
    position: relative;
}




.graph__footer {
    display: flex;
    justify-content: space-between;
    grid-column: 1/8;
    border-top: .1em solid var(--bg-clr);
    padding-top: .4em;
}

.footer__total {
    line-height: .3em;
}
.footer__total > p:nth-child(1) {
    font-size: .955rem;
}
.footer__total > p:nth-child(2) {
    font-size: 1.5rem;
    font-weight: var(--font-bold);
    color: var(--title-clr);
}
.graph__footer > :nth-child(2) {
    text-align: right;
}

.graph__footer > div:nth-child(2) {
    line-height: .3em;
    align-self: flex-end;
}

.graph__footer > div:nth-child(2) > p:nth-child(1) {
    font-size: .9rem;
}

.graph__footer > div:nth-child(2) > p:nth-child(2) {
    font-size: .66rem;
}

.graph--max {
    background-color: hsl(186, 34%, 60%) !important;
}




